<!-- <% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> 
  <%= render 'shared/user_info' %>
 </div> 


  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
 <%= render 'shared/products' %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %> -->